/* Global font: Courier New and italic text with fallbacks */
html, body, * {
    color:#fffbfb;
    font-size: 34px;
    font-style: italic;;
    text-shadow: #000000 3px 1px 4px;
}

/* Ensure form elements inherit the font and style (explicit) */
input, textarea, select, button {
	font-family: inherit;
	font-style: inherit;
    color: inherit;
}

button {
    border: none;
    background: none;
    font-size:xx-large;;
    transition-duration: 0.4s;
}

button:hover {
    font-size: 110%;
}

body {
    background: linear-gradient(to top, #000000, #1c2033);
    margin: 20px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header button:nth-child(2) {
    margin-left: auto;
}

.header button:nth-child(3) {
    margin-left: 20px;
}

