/* Global font: Courier New and italic text with fallbacks */
html, body, * {
    color:#757575;
    font-size: 30px;
    font-style: italic;
}

/* Ensure form elements inherit the font and style (explicit) */
input, textarea, select, button {
	font-family: inherit;
	font-style: inherit;
    color: inherit;
}

button {
    border: none;
    background: none;
    font-size:xx-large;;
    transition-duration: 0.4s;
}

button:hover {
    color:#404040;
}

body {
    background-color: #d5d5d5;
    margin: 20px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.info-btn {
    margin-right: -1400px;
}

.gallery-btn {
    margin-right: 40px;
}


.info-btn-infosec {
    margin-right: -1400px;
    background: #757575;
    color: #d5d5d5;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
}

.gallery-btn-gallerysec {
    margin-right: 12px;
    background: #757575;
    color: #d5d5d5;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
}

.info-btn-insidegallery  { /* this is utter bullshit that I shouldn't have to do, but hey, it works. */
    margin-right: -1416px; /* idc if it moves 1 pixel, cry about it */
} 

.indextext{
    margin-top: 200px;
    font-size: 50px;
}